.containerHome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.botonEntrar {
    margin: 10px;
    background-color: #ff7432;
    border-style: none;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 21px -3px rgba(0,0,0,0.91);
    box-shadow: 0px 2px 21px -3px rgba(0,0,0,0.91);
}

.containerFooter {
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    padding: 0 20px 0 20px;
}

.imgAgenda {
    margin-right: 30px;
}

.imgAyuntament {
    margin-right: 30px;

}

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

}

.imgAgenda {
    margin-right: 20px;

}

.imgAyuntament {
    margin-right: 20px;

}


