.containerHome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.containerLogoVila{
    margin-top: 4rem;
}

.botonWelcome {
    padding: 10px;
    margin: 10px;
    background-color: #ff7432;
    border-style: none;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.containerFooter {
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    padding: 0 20px 0 20px;
}

.imgAgendahome {
    width: 5rem;
    margin-right: 2rem;
}

.imgAyuntamenthome {
    width: 10rem;
    margin-right:2rem
}

.imgFomenthome {
    width: 6rem;
}


@media only screen and (min-width: 760px){
    .logo-home {
        width: 70%;
        height: auto;
        margin-left: 65px;
    }
    .botonWelcome {
        font-size: 18px;
        width: 110px;
        height: 41px;
    }
    .imgAgendahome {
        width: 3.5rem;

    }

    .imgAyuntamenthome {
        width: 7rem;

    }

    .imgFomenthome {
        width: 4rem;
    }

}


@media only screen and (min-width: 480px){
    .logo-home {
        width: 70%;
        height: auto;
        margin-left: 65px;
    }
    .botonWelcome {
        font-size: 15px;
        width: 90px;
        height: 37px;
    }
    .imgAgendahome {
        width: 3.5rem;

    }

    .imgAyuntamenthome {
        width: 7rem;

    }

    .imgFomenthome {
        width: 4rem;
    }

}


@media only screen and (min-width: 320px) {

    .logo-home {
        width: 65%;
        height: auto;
        margin-left: 62px;
    }
    .botonWelcome {
        font-size: 15px;
        width: 90px;
        height: 37px;
    }
    .imgAgendahome {
        width: 3.5rem;

    }

    .imgAyuntamenthome {
        width: 7rem;

    }
    .imgFomenthome {
        width: 4rem;
    }


}
