
.registerForm-edit {
    width: 100%;
    height: 580px;
    background-color: white;
    border-radius: 40px;
    margin-top: -30px;

}
.main-container-edit{
    font-family: Arial;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 40px;
    height: 376px;
    padding: 2rem 5rem 15rem 5rem;
    width: 55%;
    margin-left: 25%;
    margin-top: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.edit-title{
    margin-left: -60px;
}
.edit-img{
    height: 80px;
    width: 80px;
    position: relative;
    left: 70%;
    top: -100px;
    border-radius: 7rem;
    background-color: white;
}

.columnpile {
    display: flex;
    font-weight: normal;
    font-size: 16px;
    margin-top: -70px;
}
.edit-labels{
    font-size: 16px;
    font-weight: 200;
}
.edit-inputs-style{
    border-radius:1rem;
    height: 33px;
    width: 100%;
    border: 1px solid;
    padding-left: 17px;
}

.button-save {
    color: white;
    text-align: center;
    background-color: #0cba7e;
    font-family: Arial;
    font-weight: bold;
    margin-left: 50px;
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2vh;
    padding: 10px;
    font-size: 16px;
}

.button-save:hover {
    background: none;
    color: #0cba7e;
    box-shadow: 0 0 0 2px rgba(12, 186, 126, .5);
    border-color: #0cba7e;
}

.columna-1 {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 40px 30px;
    width: 100%;
}

.columna-2 {
    display: flex;
    flex-direction: column;
    padding: 0px 56px 40px 40px;
    margin: 0 0 9px 0;
    width: 100%;
}
.edit-title {
    text-align: center;
    padding: 3px;
    font-size: 33px;
    font-weight: lighter;
    color: #683dc3;
}

