/* -------------- MOTHER DIVS -------------------------------------------- */
.pollbackground {
    box-shadow: 5px 5px 20px -6px #683dc3;
    margin: 5% 50%;
    font-family: Arial;
    background: #f4f4f4;
    border-radius: 1%;
    height: 400px;
    padding:  2rem 5rem 15rem 5rem;
    width: 43rem;
    margin-left: 32%;
    border: 3rem solid #683dc3;
}
.form-content{
    display: flex;
    font-size: 16px;
    font-width: normal;

}

/* ----------------- COLUMN 1 -------------------------------------------- */
.form-column-1 {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 40px 10px;
}

.form-column-1-content {
}
.form-datalabelpicker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
label.data.form-label{
    margin: 0;
    width: 43px;
}

input.datepickerbox {
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 28px;
    width: 85px;
    text-align: center;
}
.form-checkboxgenre {
    display: flex;
}

.form-age-origin{
    align-items: flex-end;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}
label.age.form-label{
    display: flex;
    margin: 5px;
    width: 60px;
    font-size: 14px;
}
label.origin.form-label{
    display: flex;
    margin: 5px;
    font-size: 14px;
}
select.age.form-select{
    border-radius: 5px;
    height: 23px;
    margin-left: 8px;
}
select.origin.form-select {
    border-radius: 5px;
    height: 23px;
    margin-left: 8px;
    width: 150px;
}

.form-ambits-theme{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

}
input.ambit-box{
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 20px;
}
.ambit-p {
    font-size: 16px;
}

/* ----------------- COLUMN 2 -------------------------------------------- */
.form-column-2 {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 40px 40px;
    margin: 8px 0 9px 0;
}
.submitpoll {
    color: white;
    text-align: center;
    background-color: #0cba7e;
    font-family: Arial;
    font-weight: bold;
    margin-left: 50px;
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2vh;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}


/* ------------- BOOTSTRAP CLASSES --------------------------------------- */
label {
    width: 170px;
}

select.form-select {
    margin: 8px 90px 0 11px;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.genrebox,.ambitbox {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 20px;
    height: 18px;

}
input#genrebox.genrebox{
    margin: 10px 0px 0px 3px;
    padding: 0;
    display: block;
    height: 12px;
    overflow: hidden;
}

p{
    margin: 10px 0px 30px 1px;
    font-size: 14px;
}