
.formularienquestadiv {
    padding: 50px 300px 150px 50px;
    font-family: Arial;
    width: 500px;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 85px;
    margin: 0px 0% 0px 27%;

}

.formularienquesta {
    display: flex;
    margin: 2% 10%;
}

select.form-select {
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 30px;
}

/* COLUMNA 1 DE FORMULARIO */

.columna1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px 50px 50px 0px;
}
/* input datepicker */
.formdata{
    display: flex;
}

.formEdatNaixement{
    display: flex;
}
.llocdenaixement{
    margin-left: 10px;
}

/* genre */
.checkboxgenre{
    display: flex;
    padding: 3% 5%;
}
.genrebox,.ambitbox {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 12px;
    height: 18px;
}
.checkboxAmbit{
    display: flex;
}
p{
    margin: 10px 0px 30px 3px;
    font-size: 12px;
}

select.form-select {
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 30px;
    margin-left: 8px;
}

/*  COLUMNA 2 DE FORMULARIO */

.column2{
    padding: 0px 0px 0px 30px;
}
.grupo2, .grupo3, .grupo4, .grupo5, .grupo6,.grupo7 {
    margin: 20px 0px 0px;
}


/*Button submit*/
.submitpoll {
    background-color: #ff7432;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin: 10% 0%;

    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0% 0% 0% 10%;
}


