/* -------------- MOTHER DIVS -------------------------------------------- */
.pollbackground {
    font-family: Arial;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 40px;
    height: 376px;
    padding: 2rem 5rem 15rem 5rem;
    width: 55%;
    margin-left: 25%;
    margin-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;


}
.form-title{
    font-weight: 500;
}

.form-img {
    height: 80px;
    width: 80px;
    position: relative;
    left: 70%;
    top: -100px;
    border-radius: 7rem;
    background-color: white;
}

.poll-form {
    width: 850px;
    height: 580px;
    background-color: white;
    border-radius: 40px;
    margin-top: -30px;
}

.form-content {
    display: flex;
    font-size: 16px;
    font-width: normal;

}
.inputs-style{
    border-radius:1rem;
    height: 33px;
    width: 350px;
}
.all-labels{
    font-size: 16px;
    font-weight: 200;
}
/* ----------------- COLUMN 1 -------------------------------------------- */
.form-column-1 {
    display: flex;
    flex-direction: column;
    margin: -35px;
    width: 45%;
}

.form-datalabelpicker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label.data.form-label {
    margin: 0;
    width: 43px;
}

input.datepickerbox {
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 28px;
    width: 85px;
    text-align: center;
}

.form-checkboxgenre {
    display: flex;
}

.form-age-origin {
    align-items: flex-end;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

label.age.form-label {
    display: flex;
    margin: 5px;
    width: 60px;
    font-size: 14px;
}

label.origin.form-label {
    display: flex;
    margin: 5px;
    font-size: 14px;
}

select.age.form-select {
    border-radius: 5px;
    height: 23px;
    margin-left: 8px;
}

select.origin.form-select {
    border-radius: 5px;
    height: 23px;
    margin-left: 8px;
    width: 150px;
}

.form-ambits-theme {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

}

input.ambit-box {
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 20px;
}

.ambit-p {
    font-size: 16px;
}

/* ----------------- COLUMN 2 -------------------------------------------- */
.form-column-2 {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    margin-top: 15px;
}

.submitpoll {
    color: white;
    background-color: #0cba7e;
    font-family: Arial;
    font-weight: bold;
    margin-left: 225px;
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-top: 2vh;
    font-size: 16px;

}


/* ------------- BOOTSTRAP CLASSES --------------------------------------- */
label {
    width: 170px;
}

select.form-select {
    margin: 8px 90px 0 11px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.genrebox, .ambitbox {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 20px;
    height: 18px;

}

input#genrebox.genrebox {
    margin: 10px 0px 0px 3px;
    padding: 0;
    display: block;
    height: 12px;
    overflow: hidden;
}

p {
    margin: 10px 0px 30px 1px;
    font-size: 14px;
}