
:root {
    --grey-color: #f4f4f4; /*Color Gris para fondo */
    --black-color: #000000; /**/
    --purple-color: #683dc3; /**/
    --orange-color: #ff7432; /**/
    --green-color: #0cba7e; /**/
    --pink-color: #ffb3d7; /**/
}

.registro {
    font-weight: 400;
    font-size: 48px;
    font-family: Arial;
}


.contenedorTabla{
    width: 60%;
    border-radius: 50%;
    color:#FFFFFF;
    font-size: 17px;
}

.tcolor {
    background-color: var(--purple-color);
}


.Tabla {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 350px;
    align-items: center;
    margin-right: 50px;

}
.primerModal {
    display: flex;
    align-items: center;
    margin-top: 60px;
    width: 500px;
    border-radius: 12px;
    background-color: white;
    flex-direction: column;
    font-family: "arial";
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    position: fixed;
    margin-left: 45%;
    top: 0;
    -webkit-box-shadow: 3px 2px 25px 7px rgba(0,0,0,0.57);
    box-shadow: 3px 2px 25px 7px rgba(0,0,0,0.57);
}

.botonTabla{
    border: none ;
    border-radius: 10px;
    padding: 10px;
    background-color: #009624 ;
    color: white;
    cursor: pointer;
    width: 90px;
    display: inline;

}
.botonTablaEncuestadores{
    margin-top: 20px;
    background-color: #0cba7e;
    border-style: none;
    color: white;
    height: 40px;
    width: 195px;
    border-radius: 5px;
    font-weight: 600;
    font-family: Arial;
    font-size: 20px;
}

.botonTablaEncuestadores:hover{
    background: none;
    color: #0cba7e;
    box-shadow: 0 0 0 2px rgba(12, 186, 126, .5);
    border-color: #0cba7e;

}



.borrar {
    color: grey;
}


.botonActualizar{
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color: #683dc3;
    margin-left: auto;
    display: inline;
    width: 68px;
    padding: 8px;
    font-size: 14px;
    margin-right: 15px;

}
.botonActualizarModal{
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color: #009624;
    margin-left: auto;
}
.botonCierre{
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color: #cd0e14;
    margin-left: auto;
}


label{
    display: inline-block;
    width: 85px;
    margin: 10px;
}
.selectForm{
    width: 166px;
    height: 25px;
    display: inline;
    margin-left: 9px;
}
.modalTite {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}
.modalBody{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalEliminar{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 350px;
    height: 250px;
    border-radius: 12px;
    background-color: white;
    flex-direction: column;
    font-family: "arial";
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    position: fixed;
    margin-left: 45%;
    top: 0;
    -webkit-box-shadow: 3px 2px 25px 7px rgba(0,0,0,0.57);
    box-shadow: 3px 2px 25px 7px rgba(0,0,0,0.57);
}
.preguntaModal{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-family: Arial;
    font-weight: 500;
    font-size: 24px;
}
.botonModalEliminarSi{
    display: flex;
    justify-content: center;
    color: white;
    width: 80px;
    cursor: pointer;
    background-color: #009624;
    margin: auto;
    margin-top: 15px;

}
.botonModalEliminarNo{
    display: flex;
    justify-content: center;
    color: white;
    width: 80px;
    cursor: pointer;
    background-color: #cd0e14;
    margin: auto;
    position: sticky;
}
