body{
    margin: 0 auto;
}

:root{
    --grey-color: #f4f4f4;     /*Color Gris para fondo */
    --black-color: #000000;   /**/
    --purple-color: #683dc3;  /**/
    --orange-color: #ff7432;  /**/
    --green-color: #0cba7e;   /**/
    --pink-color: #ffb3d7;    /**/
}

footer{
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    height:60px;
    background-color: var(--grey-color);
    box-shadow: 0px -2px #E0E0E0;

}
.contenedorLogos{
    display: flex;
    justify-content: center;

}

.imgAju{
    padding: 10px;
    width: 65%;
    margin-top: 13px;
}
.imgAgenda{
    padding: 10px;
    width: 30%;
    margin-left: 26px;

}
.imgFoment{
    padding: 10px;
    width: 65%;
    margin-top: 13px;
}