.mainContainer {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.wrapperContainer {
    position: sticky;
    margin: 0 0 0 302px;
    background-color: white;
    height: 174px;
    width: 100%;
    display: flex;
}

.calendario-img {
    position: relative;
    left: 1px;
    height: 35px;
    width: 35px;
}

.dataPickerContainer {
   background-color: #ffffff;
    padding: 10px;
    border-radius: 6%;
    margin: 10px 50px;
    height: 100px;
    width: 185px;
    border: thick double #6f21bd;
}

.inputs-picker {
    width: 35%;
    font-size: 12px;
    font-family: arial;
    margin-left: 3em;
    border: none;
    border-bottom: 2px solid;
    cursor: inherit;
    background: #FFFFFF;
    color: inherit;
    position: relative;
    top: -56px;
    left: 16px;
    padding: 10px;
}

.opcionFechas {
    font-family: arial;
    font-size: 18px;
    font-weight: 200;
    height: 5px;
    letter-spacing: 1px;
    color: #683dc3;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 800px;
    margin-left: 60px;
}

.second {
    margin-left: 10px;
}

.graficaContainer {
    background-color: white;
    height: 55%;
    width: 75%;
    margin: 10px 0 0 350px;
}


.botonesHoover {
    background-color: #ffffff;
    line-height: 42px;
    padding: 0;
    border: 1px solid #683dc3;
    height: 50px;
    width: 200px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.botonesHoover:before,
.botonesHoover:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    transition: all 0.3s ease;
}

.botonesHoover:before {
    height: 0%;
    width: 2px;
}

.botonesHoover:after {
    width: 0%;
    height: 2px;
}

.botonesHoover:hover:before {
    height: 100%;
}

.botonesHoover:hover:after {
    width: 100%;
}

.botonesHoover:hover {
    background: transparent;
}

.botonesHoover span:hover {
    color: #c797eb;
}

.botonesHoover span:before,
.botonesHoover span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    transition: all 0.3s ease;
}

.botonesHoover span:before {
    width: 2px;
    height: 0%;
}

.botonesHoover span:after {
    height: 2px;
    width: 0%;
}

.botonesHoover span:hover:before {
    height: 100%;
}

.botonesHoover span:hover:after {
    width: 100%;
}

span {
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.iconoboton {
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.genere {
    right: 32px;
}

.encuesta {
    left: 15px;
}

.span-genere {
    right: 20px;
}


.tablaTitleContainer {
    background-color: #ff7432;
    height: 20px;
    width: 50px;
}

.tableTitle {
    font-family: Arial;
}
.botonCsv{
    background-color: var(--green-color);
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    box-shadow: none;
    font-weight: bold;
    align-items: center;
    transition: all 0.16s ease-in;
    border-style: groove;
    border-width: 0.5px;
    border-color: #0cba7e;
    margin-left: 350px;
    border: none;
}

.botonCsv:hover {
    background: none;
    color: #0cba7e;
    box-shadow: 0 0 0 2px rgba(12, 186, 126, .5);
    border-color: #0cba7e;
}

