.mainContainer {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.wrapperContainer {
    position: sticky;
    margin: 0 0 0 302px;
    background-color: white;
    height: 174px;
    width: 100%;
    display: flex;
}

.calendario-img {
    position: relative;
    left: 1px;
    height: 40px;
    width: 40px;
}

.dataPickerContainer {
   background-color: whitesmoke;
    padding: 10px;
    border-radius: 6%;
    margin: 10px 50px;
    height: 140px;
    width: 300px;
    border: thick double #6f21bd;
}

.inputs-picker {
    width: 70%;
    font-size: 16px;
    font-family: inherit;
    margin-left: 3em;
    border: none;
    border-bottom: 2px solid;
    cursor: inherit;
    background: inherit;
    color: inherit;
    position: relative;
    top: -56px;
    padding: 10px;
}

.opcionFechas {
    font-family: arial;
    font-size: 23px;
    font-weight: 200;
    height: 5px;
    letter-spacing: 1px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 800px;
    margin-left: 60px;
}

.second {
    margin-left: 10px;
}

.graficaContainer {
    background-color: white;
    height: 55%;
    width: 75%;
    margin: 10px 0 0 350px;
}

.buttonEstadisticas {
    height: 50px;
    width: 200px;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.botonesHoover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.botonesHoover:before,
.botonesHoover:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    transition: all 0.3s ease;
}

.botonesHoover:before {
    height: 0%;
    width: 2px;
}

.botonesHoover:after {
    width: 0%;
    height: 2px;
}

.botonesHoover:hover:before {
    height: 100%;
}

.botonesHoover:hover:after {
    width: 100%;
}

.botonesHoover:hover {
    background: transparent;
}

.botonesHoover span:hover {
    color: #c797eb;
}

.botonesHoover span:before,
.botonesHoover span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    transition: all 0.3s ease;
}

.botonesHoover span:before {
    width: 2px;
    height: 0%;
}

.botonesHoover span:after {
    height: 2px;
    width: 0%;
}

.botonesHoover span:hover:before {
    height: 100%;
}

.botonesHoover span:hover:after {
    width: 100%;
}

span {
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.iconoboton {
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.genere {
    right: 32px;
}

.encuesta {
    left: 15px;
}

.span-genere {
    right: 20px;
}


.tablaTitleContainer {
    background-color: #ff7432;
    height: 20px;
    width: 50px;
}

.tableTitle {
    font-family: Arial;
}
.botonCsv{
    margin-left: 350px;
}

