.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 545px;
    height: 471px;
    left: 417px;
    top: 226px;
    background-color: var(--purple-color);
    border-radius: 66px;
    padding: 3rem;
}
.popup-inner .close-btn{
    position: absolute;
    top: -10px;
    right: -7px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
    color: #f4f4f4;
    font-weight: 550;
}

.logomodalvilaveina {
    width: 12rem;
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--purple-color);

}
.form-element {
    position: relative;
    border-radius: 10%;
    display: block;
    background-color: var(--purple-color);
    padding: 10px;
    z-index: 2;
}
.inputpopupmodal {
    background-color: white;
    border: 1px solid #683dc3;
    border-radius: 10px;
    width: 22rem;
    height: 3rem;
    margin-top: 5px;
    margin-left: -2px;

}
.form-login{
    margin: 3rem;
    background-color: var(--green-color);
    color: white;
    width: 119px;
    height: 39px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    box-shadow: none;
    font-weight: bold;

}
.labelUsuario{
    font-size: 20px;
    font-weight: normal;
    display: contents;
    font-family: Arial;
    color: white;
}
