.registerFormalta {
    box-shadow: 5px 5px 20px -6px #683dc3;
    margin: 5% 50%;
    font-family: Arial;
    background: #f4f4f4;
    border-radius: 1%;
    height: 400px;
    padding:  4rem 5rem  12rem 5rem;
    width: 43rem;
    margin-left: 32%;
    border: 3rem solid #683dc3;
}

.columnpilecreate {
    display: flex;
    font-weight: normal;
    font-size: 16px;
}

.button-save {
    color: white;
    text-align: center;
    background-color: #ff7432;
    font-family: Arial;
    padding: 15px 15px 15px;
    width: 125px;
    margin-top: 50px;
    border: 2px solid #a6a6a6;
}

.columna-1encuestador {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 40px 30px
}
.columna-2encuestador {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 40px 40px;
    margin: 8px 0 9px 0;
}
input , .formselect {
    margin: 10px 20px 10px 10px;

}
h3 {
    text-align: center;
    padding: 3px;
}

input {
    border: 1px solid #683dc3;
    border-radius: 5px;
    height: 20px;
    margin-left: 8px;
}