.main-container-create{
    font-family: Arial;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 40px;
    height: 376px;
    padding: 2rem 5rem 15rem 5rem;
    width: 55%;
    margin-left: 25%;
    margin-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.registerFormalta {
    width: 100%;
    height: 580px;
    background-color: white;
    border-radius: 40px;
    margin-top: -30px;
}
.create-img{
    height: 80px;
    width: 80px;
    position: relative;
    left: 70%;
    top: -100px;
    border-radius: 7rem;
    background-color: white;
}
.labels-create{
    font-size: 16px;
    font-weight: 200;
}
.inputs-style-create{
    border-radius:1rem;
    height: 33px;
    width: 100%;
    border: 1px solid;
}
.select{
    width: 100%;
    height: 34px;
}

.columnpilecreate {
    display: flex;
    font-weight: normal;
    font-size: 16px;
}


.columna-1encuestador {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 40px 30px;
    margin-top: -80px;
    width: 100%;

}
.columna-2encuestador {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 40px 30px;
    margin-top: -78px;
    width: 100%;
}
h3 {
    text-align: center;
    padding: 3px;
}

.button-save-create {
    color: white;
    text-align: center;
    background-color: #0cba7e;
    font-family: Arial;
    font-weight: bold;
    margin-left: 50px;
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2vh;
    padding: 10px;
    font-size: 16px;

}

.button-save-create:hover {
    background: none;
    color: #0cba7e;
    box-shadow: 0 0 0 2px rgba(12, 186, 126, .5);
    border-color: #0cba7e;
}
