body{
    margin: 0;
    padding: 0;
}

.sidebaradmin{
    position: fixed;
    width: 300px;
    top:0;
    left: 0;
    bottom: 0;
    background: var(--grey-color);
    box-shadow: 2px 0px rgba(153, 102, 255, 1);
    height: 100vh;
}


.containerButtonsideadmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;


}
.buttonsidebaradmin{
    background-color: #fafafa;
    text-decoration: none;
    font-family: "arial";
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    padding: 11px;
    cursor: pointer;
    border-radius: 10px;
    width: 202px;
    display: flex;
    align-items: center;
    margin: 0px;
    border-style: none;
    color: var(--purple-color);
    transition: all 0.16s ease-in;
}

.buttonsidebaradmin:hover{
    box-shadow: 0 0 0 2px rgba(104, 61, 195, .5);
    margin-left: 5px;

}


.logovilasideadmin{
    display: block;
    width: 65%;
    height: auto;
    padding: 2.5rem 52px;

}

.button-logout-admin:hover{
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}
.button-logout-admin{
    background-color: #ff7432;
    border-style: none;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 4rem;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}
.linktoenquesta{
    text-decoration: none;
    color: inherit;
}

.logobotonsidebar{

    width: 40px;
    height: auto;
    padding-right: 6px;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sidebaradmin {
        width: 230px;
    }

    .buttonsidebaradmin{
        font-size: 11px;
        width: 172px;
        height: 2.5rem;
    }

    .logobotonsidebar {
        width: 29px;
        padding-right: 5px;
    }

    .button-logout-admin {
        width: 86px;
        height: 32px;
        padding: 0px;
        font-size: 13px;
        margin-top: 6rem;
    }


}


@media only screen and (min-width: 480px) and (max-width: 767px){
    .sidebaradmin {
        width: 230px;
    }

    .buttonsidebaradmin{
        font-size: 11px;
        width: 172px;
        height: 2.5rem;
    }

    .logobotonsidebar {
        width: 29px;
        padding-right: 5px;
    }

    .button-logout-admin {
        width: 86px;
        height: 32px;
        padding: 0px;
        font-size: 13px;
        margin-top: 6rem;
    }

}
