body{
    margin: 0;
    padding: 0;
}

.sidebaradmin{
    position: fixed;
    width: 300px;
    top:0;
    left: 0;
    bottom: 0;
    background: var(--grey-color);
    box-shadow: 2px 0px rgba(153, 102, 255, 1);
    height: 100vh;
}


.containerButtonsideadmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    margin-top: 2rem;


}
.buttonsidebaradmin{
    background-color: #fafafa;
    text-decoration: none;
    font-family: "arial";
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    padding: 11px;
    cursor: pointer;
    border-radius: 10px;
    width: 234px;
    display: flex;
    align-items: center;
    margin: 0px;
    border-style: none;
    color: var(--purple-color);
}
.logovilasideadmin{
    display: block;
    width: 65%;
    height: auto;
    padding: 2.5rem 52px;

}

.sidebar a:hover{
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}
.button-logout-admin{
    background-color: #ff7432;
    border-style: none;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 31vh;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}
.linktoenquesta{
    text-decoration: none;
    color: inherit;
}

.logobotonsidebar{

    width: 40px;
    height: auto;
    padding-right: 6px;
}